/*COLORS*/
/*011126 = blue*/
/*F0C449 = yellow*/
/*E1C7A6 = light something*/
/*6DC6E4 = light blue*/
/*D4CEAC = pale green*/

* {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

html, body, section {
  height: 100%;
}

.header {
    height: 100vh;
    max-width: 100%;
}

.header-bg {
    height: 100vh;
    width: 100vw;
    position: static;
    object-fit: cover;
}

#heading {
    height: 35vh;
    overflow: hidden;
    margin-bottom: 0;
}

#heading-img {
    width: 100%;
    transform: translate(0%,15%);
    position: relative;
    top: -20%;
}

.logo-con {
    background-color: rgba(1,17,38,0.85);
    width: 600px;
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #F0C449;
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

.header-logo {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.navbar {
    background-color: #011126;
    text-transform: uppercase;
    color: white;
    z-index: 99999;
}

.thumb {
    width: 100px;
}

#navbar {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}

.container {
    padding: 0;
    margin: 0;
}

.btn {
    border-radius: 0;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    border-color: #011126;
    color: #011126;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #011126;
}

#title {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #011126;
    color: white; 
    height: 100%;
}

#portfolio {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #011126;
    color: white; 
    height: 100%;
}

h5 {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
}

.image {
    height: 100%;
    width: 100%;
    position: static;
    object-fit: cover;
}

.image-cont {
    height: 240px;
    overflow: hidden;
}

.proj-img {}


.footer1 {
    background-color: #011126;
    color: white;
}

.footer1 .container {
    float: left;
}

.footer2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(0,0,0,0.85);
}


.foo-img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 10px;
}

ul {
    list-style: none;
}

.row {
    margin: 0;
    padding: 0;
}

#foolinks {
    text-decoration: none;
    color: white;
}

#foolinks:hover {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}

.image-cont:hover .overlay {
    opacity: 0.8;
}

section {
  overflow: scroll;
}


#article h6 {
    color: #6DC6E4;
    margin-top: 0;
    font-size: 1.2em;
    text-transform: uppercase;
}

#article p {

}

.thumb-post img {
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 120px;
}

.resp-container {
    /*position: relative;*/
    overflow: hidden;
    /*padding-top: 56.25%;*/
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    border: 0;
}

#disclaimer {
    font-size: 0.6em;
}



.clear:after {
    content: "";
    clear: both;
    display: block;
}





*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: table;
}

section.ok{
  background-color: #F0C449;
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #F0C449;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #F0C449;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}









/*mobile style*/
@media only screen and (max-width: 400px) {
    .logo-con {
        background-color: rgba(1,17,38,0.85);
        width: 75%;
        font-size: 0.85em;
        padding-top: 30px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-logo {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #warehouse {
        height: 100%;
        width: 100%;
        /*position: static;*/
        /*object-fit: cover;*/
        display: block;
    }
    #warehouse1 {
        height: 100%;
        width: 100%;
        position: static;
        object-fit: cover;
    }
    p {
        font-size: 0.75em;
    }
    h2 {
        padding-top: 20px;
    }
    h5 {
        padding-bottom: 20px;
        margin: 0;
    }
    #ware-desc1 > h2, p {
        text-align: center;
        }
    p {
        font-size: 0.75em;
    }
    h2 {
        padding-top: 20px;
    }
    h5 {
        padding-bottom: 20px;
        margin: 0;
    }
    #home {
        width: 100vw;
        overflow: hidden;
    }
    #ware-desc {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        min-height: 50vh;
        text-align: left!important; 
    }
    #ware-desc1 {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        min-height: 50vh;
    }
    .btn {
        display: block;
        margin: 0 auto;
    }
    .image-cont {
        height: 200px;
        overflow: hidden;
    }
    h6 {
        margin-top: 30px;
    }
    .footer1 .container {
        text-align: center;
    }
    #foot-right {
        text-align: center;
    }
    #career-text {
        text-align: center!important;
        padding-x: 0!important;
    }
}

/*tablet only*/
@media only screen and (min-width: 401px) and (max-width: 1023px) {
    #warehouse {
        height: 100%;
        width: 100%;
        position: static;
        object-fit: cover;
    }
    #warehouse1 {
        min-height: 50vh;
        width: 100%;
        position: static;
        object-fit: cover;
    }
    #ware-desc {
        background-color: white;
        min-height: 50vh;
    }
    h2 {
        padding-top: 60px;
    }
    h5 {
        padding-bottom: 60px;
        margin: 0;
    }
    #home {
        height: 100%;
    }
    .ware-desc {
        padding-left: 48px;
        padding-right: 48px;
        min-height: 50vh;
    }
    .ware-desc1 {
        padding-left: 48px;
        padding-right: 48px;
        min-height: 50vh;
    }
    h6 {
        margin-top: 50px;
    }
    #foot-right {
        text-align: right;
    }
    #temp-mt {
        margin-top: 20px;
    }
    #temp-mb {
        margin-bottom: 40px;
    }
}

/*desktop only*/
@media only screen and (min-width: 1024px) {
    #warehouse {
        height: 100%;
        max-height: 90vh;
        width: 100%;
        position: static;
        object-fit: cover;
    }
    #warehouse1 {
        height: 100%;
        max-height: 100vh;
        width: 100%;
        position: static;
        object-fit: cover;
    }
    #company {
        background-color: white;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    h2 {
        padding-top: 60px;
    }
    h5 {
        padding-bottom: 50px;
        margin: 0;
    }
    .ware-desc {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 20px;
        min-height: 100vh;
    }
    .ware-desc1 {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 20px;
        max-height: 100vh;
    }
    h6 {
        margin-top: 80px;
    }
    #foot-right {
        text-align: right;
    }
    #company {
        min-height: 670px;
    }
    #heading-img {
    width: 100%;
    transform: translate(0%,-15%);
    position: relative;
    top: -20%;
    }
    #temp-mb {
        margin-bottom: 40px;
    }
}


.stick {
  position:fixed;
    top:0;
    width:100%;
    background-color: #011126;
}